*{
    margin:0;
    padding:0;

}

body{
    background-image: url(images/images.jpg);
    background-repeat: no-repeat;
    background-size: 100% 700px;

}

h1{
    color:white;
    padding:20px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border-bottom: 5px solid ;
}

.nav{
    list-style-type: none;
    display: -webkit-inline-flex;

}

.nav li{
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0,0.5);
    width: 228px;
    border-bottom: 2px solid white;
}


.nav li a {
    color: white;
    font-size: 18px;
    font-family: serif;
    text-decoration: none;
   
}

.sub-menu{
    display: none;
    position: absolute;
    list-style-type: none;
}

.nav li:hover .sub-menu{
     display: block;
}


.sub-menu-one{
    display: none;
    list-style-type: none;
    margin-left: 226px;
    margin-top: -51px;
}

.sub-menu li:hover .sub-menu-one{
    display: block; 
}