ul{
    width:800px;
    background-color: grey;
    padding:15px;
    color:antiquewhite;
}
li{
    display: inline;      
    background-color: grey;
    padding:15px ;
}

li a{
    text-decoration: none;
    padding:15px;
    color:white;
}

li a:hover{
    text-decoration: none;
   
    color:black;
    background-color:beige;
    
   

}