.red{
    height:100px;
    width:100px;
    background-color: red;
    position:absolute;
    left:207px;
    top:207px;
}

.blue{
    height:100px;
    width:100px;
    background-color: blue;
    position:absolute;
    left:108px;
    top:108px
}

.yellow{
    height:100px;
    width:100px;
    background-color:yellow;
    
   
}